<%- include('header') -%>



<div class ="nyr-flokkur">
  <form method="post" action="/category">
    <div>
      <label for="">Nýr flokkur</label>
      <input type="text" id="name" name="name" required>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<div class="ny-spurning">
  <form method="post" action="/question">
    <p>Ný spurning, merkið við box til að merkja rétt svar, eins mörg og þú vilt. Spurning verður að vera á milli 5 og 1000 stafir</p>
  <div>
    <label for="">Spurning</label>
    <input type="text" id="spurning" name="spurning" required minlength="5" maxlength="1000">
  </div>
  <div class="flokkur">
    <label for="_1">Flokkur</label>
    <select id="flokkur" name="flokkur" required>

    <% flokkar.forEach(category => { %>
      <option value="<%=category.id %>"><%=category.name %></option>
    <% }); %>
  </select>

  </div>
  <p>Spurning verður að hafa 4 svarmöguleika, og amk eitt rétt svar</p>
  <div>
    <label for="">Svarmöguleiki 1</label>
    <input type="text" name="svar1" required>
    <input type="checkbox" name="correct" value="1">
  </div>
  <div>
    <label for="_3">Svarmöguleiki 2</label>
    <input type="text" name="svar2" required>
    <input type="checkbox" name="correct" value="2">
  </div>
  <div>
    <label for="_4">Svarmöguleiki 3</label>
    <input type="text" name="svar3" required>
    <input type="checkbox" name="correct" value="3">
  </div>
  <div>
    <label for="_5">Svarmöguleiki 4</label>
    <input type="text" name="svar4" required>
    <input type="checkbox" name="correct" value="4">
  </div>
  <button type="submit">Submit</button>
</form>
</div>



<%- include('footer') -%>